.body {
  background-image: url("snoopy.png");
  background-size: cover;
  background-repeat: repeat;
  background-attachment: scroll;
  justify-content: center;
}

.message {
  background-color: #97c772;
  margin-top: 10%;
  padding: 20px 40px;
  padding-bottom: 50px;
  width: 65%;
  height: 30%;
  color: #29586b;
  align-self: center;
  justify-self: center;
  justify-content: center;
  border-radius: 10px;
  font-family: 'sour gummy', sans serif;
  font-size: 20px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.button {
  background-color: #948392;
  color: white;
  padding: 15px 20px;
  text-decoration: none;
  cursor: pointer;
  border-radius: 8px;
  display: block;
  margin-top: 20px;
  text-align: center;
  width: fit-content;
}

/*CARDS*/

.header {
  display: block;
  background-color: #32116e;
  width: 100%;
  height: 30%;
  padding: 40px 25px;
  margin-top: 0;
  margin-bottom: 0;
  color: #CACC90;
  font-family: 'sour gummy';
  font-style: italic;
  text-align: center;
}

.carousel {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #A7CECB;
  width:100%;
  height: 85%;
  padding: 60px 20px;
  gap: 20px;
  margin-top: 0;
}

.card {
  border: 1px solid white;
  border-radius: 10px;
  gap: 20px;
  width: 300px;
  height: 300px;
  cursor: pointer;
}

.card-inner {
  position: relative;
  width: 90%;
  height: 95%;
  border-radius: 10px;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.card.flipped .card-inner {
  transform: rotateY(180deg);
}

.card-header, .card-body {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card-header {
  background-color: #b97527;
  padding: 10px;
  border-radius: 10px;
}

.card-body {
  background-color: #c58843;
  border-radius: 10px;
  color: #2E2C2F;
  transform: rotateY(180deg);
  padding: 15px;
  font-family: 'sour gummy';

  .img{
    height: 40%;

  }
}

.card-header img {
  max-width: 100%;
  max-height: 200px;
  object-fit: contain;
}

.img {
  width: 120px;
  height: 80px;
}

.footer {
  display: flex;
  background-image: linear-gradient(to right, #fc5c7d, #6a82fb);
  background-size:contain;
  height: 25%;
  width: 100%;
  padding: 30px;
  color: #32116e;
  font-size: 90%;
  font-family: 'sour gummy';
  text-align: center;
  justify-content: center;
}